* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background: rgb(236, 232, 232);
}

.container {
    background: white;
    max-width: 1064;
    margin: 0 auto;
}

/* Criando Header */
header {
    background: #58A0C8;
    /*Altura */
    height: 120px;
    border-bottom: 8px solid #34699A;
    /*Flexbox */
    display: flex;
    align-items: center
}

header {
    margin-left: 15px;
    margin-right: 20px;
}

header h2 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 15px;
}

/* Menu do Site */
.menu {
    display: flex;
   justify-content: space-around;
    align-items: center;
    background-color: #9ECAD6 ;
}

.menu li {
    /* Espaçamento */
    padding: 10px;
}

.menu li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

.menu li a:hover {
    text-decoration: underline;
}

/* Banner */
.banner {
    max-width: 1000px;
    height: 250px;
    border: 3px solid #34699A;
    border-radius: 10px;
    margin: 20px;
    /* Cortar imagem */
    overflow: hidden;
}

/* Content HOME */
.content-box {
    margin: 20px;
    border: 3px solid #34699A;
}

.box {
    border: 3px solid #34699A;
    max-width: 300px;
}